.project-container {
  // margin: 60px;
  
  .img-container {
    width: 40%;
    display: flex;
    justify-content: center;

    .circle {
      background-color: white;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      overflow: hidden;
      background-size: cover;
      background-position: center;
    
    }
  }
  .text-container {
    border-radius: 20px;
    width: 60%;
    margin-right: 75px;
    h2 {
      font-weight: 700;
    }
  }
}