@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');
body{
  background-image: linear-gradient( #002731, #00191f, black,) !important;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  
}

.home-container {
  height: 100vh;

  .animation-container {
    height: 40vh;
    width: 45vw;
  }

  .moving-text-container {
    height: 55vh;
    width: 45vw;
  }



  .homepage-btn-container{
    position: relative;
    left: 900px;
    bottom: 600px;

  }
}



