@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

.nav-tabs {
  .nav-text {
    min-width: 20%;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }
}







