.projects-title{
  color: #e8e8e8;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 90px;
}

.project-title{
  color: #e8e8e8;
}

.project-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
}

.project-text{
  color: #e8e8e8;
  font-size: 20px;
}

.text-container{
  width: 50vw;
  
}